:root {
    --header-height: 5rem;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
}

.header-container {
    width: 64rem;
    height: var(--header-height);
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    height: auto;
    width: auto;
    cursor: pointer;
}

.logo img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* nav */
.nav-item {
    padding: 1.25em;
    font-weight: bold;
    cursor: pointer;
}

.nav-item:hover {
    color: cornflowerblue;
}

.nav-item:hover .nav-item-submenu {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    max-height: 500px;
}

.nav-item-submenu {
    flex-direction: column;
    z-index: -1;
    position: absolute;
    padding-top: 1.5em;
    background-color: white;
    transform: translateX(-3em);

    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    /* li 글씨 안보이게 하기 */
    transition: max-height 0.4s ease-in-out;
}

.nav-item-submenu li {
    padding: 0.3125em 2.125em;
    color: initial;
    visibility: none;
}

.nav-item-submenu li:hover {
    color: inherit;
}

/* nav icon */

.nav-icon {
    margin-right: 1em;
    width: 1.5em;
    height: 1em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    display: none;
}

.nav-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 18%;
    border-radius: 3px;
    background-color: black;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0%;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
    top: 0.5em;
}

.nav-icon span:nth-child(4) {
    top: 1em;
}

.nav-icon.open span:nth-child(1) {
    top: 0.5em;
    width: 0%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 0.5em;
    width: 0%;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* carousel */
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
}

.card-container {
    max-width: 64em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

.card-wrapper button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-btn {
    position: absolute;
    left: 2%;
}

.right-btn {
    position: absolute;
    right: 2%;
}

.card-contents {
    width: 25%;
    height: 300px;
    -webkit-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.25s ease-in-out;
}

.card-contents img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-left-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(50deg) translateZ(-360px) translateX(-140px);
    z-index: 30;
    opacity: 0.7;
}

.prev-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(60deg) translateZ(-180px) translateX(-70px);
    z-index: 40;
    opacity: 0.8;
}

.current-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(90px);
    z-index: 50;
}

.next-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-60deg) translateZ(-180px) translateX(70px);
    z-index: 40;
    opacity: 0.8;
}

.next-right-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-50deg) translateZ(-360px) translateX(140px);
    z-index: 30;
    opacity: 0.7;
}

/* item */
.item-container {
    width: 64rem;
    max-width: 64rem;
    margin-top: 0.8rem;
    background-color: chocolate;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 64rem;
    max-width: 64rem;
    background-color: burlywood;
}

/* desktop */
@media (min-width: 768.02px) and (max-width: 1024px) {
    .header-container {
        padding: 0 2rem;
    }
}

/* tablet */
@media (min-width: 576px) and (max-width: 768px) {
    .header-container {
        padding: 0 2rem;
    }

    .nav-list {
        display: none;
    }

    .nav-icon {
        display: block;
    }
}

/* mobile */
@media (max-width: 575.98px) {
    .header-container {
        padding: 0 2rem;
    }

    .nav-list {
        display: none;
    }

    .nav-icon {
        display: block;
    }
}