:root {
    --header-height: 5rem;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    min-width: 20rem;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

.pointer {
    cursor: pointer;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
}

.header-container {
    width: 64rem;
    height: var(--header-height);
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    height: auto;
    width: auto;
    cursor: pointer;
}

.logo img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* nav */
.nav-item {
    padding: 1.25em;
    font-weight: bold;
    cursor: pointer;
}

.nav-item:hover {
    color: cornflowerblue;
}

.nav-item:hover .nav-item-submenu {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    max-height: 31.250em;
}

.nav-item-submenu {
    flex-direction: column;
    z-index: -1;
    position: absolute;
    padding-top: 1.5em;
    background-color: white;
    transform: translateX(-3em);

    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    /* li 글씨 안보이게 하기 */
    transition: max-height 0.4s ease-in-out;
}

.nav-item-submenu li {
    padding: 0.3125em 2.125em;
    color: initial;
    visibility: none;
}

.nav-item-submenu li:hover {
    color: inherit;
}

/* nav icon */
.nav-icon {
    margin-right: 1em;
    width: 1.5em;
    height: 1em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    display: none;
}

.nav-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 18%;
    border-radius: 3px;
    background-color: black;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0%;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
    top: 0.5em;
}

.nav-icon span:nth-child(4) {
    top: 1em;
}

.nav-icon.open span:nth-child(1) {
    top: 0.5em;
    width: 0%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 0.5em;
    width: 0%;
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}

.card-container {
    max-width: 64em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

.card-wrapper button {
    width: 1.563em;
    height: 1.563em;
    border-radius: 50%;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-btn {
    position: absolute;
    left: 1rem;
    z-index: 100;
}

.right-btn {
    position: absolute;
    right: 1rem;
    z-index: 100;
}

.card-contents {
    width: 12em;
    height: 21.875rem;
    -webkit-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.25s ease-in-out;
}

.card-contents img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-left-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(50deg) translateZ(-22.500em) translateX(-8.750em);
    z-index: 30;
    opacity: 0.7;
}

.prev-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(60deg) translateZ(-11.250em) translateX(-4.375em);
    z-index: 40;
    opacity: 0.8;
}

.current-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(90px);
    z-index: 50;
}

.next-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-60deg) translateZ(-11.250em) translateX(4.375em);
    z-index: 40;
    opacity: 0.8;
}

.next-right-card {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-50deg) translateZ(-22.500em) translateX(8.750em);
    z-index: 30;
    opacity: 0.7;
}

/* main contents */
.contents {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
}

.item-container {
    width: 70%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1rem;
}

.item-wrapper {
    height: 16rem;
    box-shadow: 0 1px 3px 0 rgba(110, 111, 173, 0.33);
}

.item-wrapper img {
    width: 100%;
    height: 10rem;
}

.item-owner {
    width: 100%;
    height: 3rem;
    transform: translateY(-2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-owner .tag {
    align-self: flex-end;
    margin-right: 0.5em;
}

.item-owner img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: 1em;
}

.item-contents {
    display: flex;
    flex-direction: column;
    transform: translateY(-2rem);
    padding: 1em;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 0 5%;
}

.ranking h3 {
    align-self: baseline;
    margin-bottom: 2rem;
}

.ranking-container {
    width: 100%;
    height: 25rem;
    min-width: 15.625rem;
    padding: 1em;
    box-shadow: 0 1px 3px 0 rgba(110, 111, 173, 0.33);
}

.ranking-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid deepskyblue;
    padding: 2em 0;
}

.ranking-item:last-child {
    border-bottom: none;
}

.ranking-item img {
    position: relative;
    width: 3em;
    height: auto;
}

.ranking-item-contents {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 0.9rem;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.footer-container {
    width: 64rem;
    max-width: 64rem;
    background-color: burlywood;
    text-align: center;
}

/* desktop */
@media (min-width: 1200px) {
    .card-wrapper button {
        font-size: 1.3rem;
    }

    .card-contents {
        font-size: 1.2rem;
    }
}

@media (min-width: 768.02px) and (max-width: 1198px) {
    .header-container {
        padding: 0 2rem;
    }

    .card-wrapper button {
        font-size: 1.3rem;
    }

    .card-contents {
        font-size: 0.82rem;
    }

    .item-container {
        font-size: 1.2rem;
    }
}

/* tablet */
@media (min-width: 576px) and (max-width: 768px) {
    .header-container {
        padding: 0 2rem;
    }

    .nav-list {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .card-wrapper button {
        font-size: 1.4rem;
    }

    .card-contents {
        font-size: 0.62rem;
    }

    .contents {
        flex-direction: column;
    }

    .item-container {
        width: 100%;
        font-size: 1.3rem;
        padding: 0 5%;
    }
}

/* mobile */
@media (max-width: 575.98px) {
    .header-container {
        padding: 0 2rem;
    }

    .nav-list {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .card-wrapper button {
        font-size: 1.5rem;
    }

    .card-contents {
        font-size: 0.3rem;
        width: 22em;
    }

    .contents {
        flex-direction: column;
    }

    .item-container {
        width: 100%;
        font-size: 1.4rem;
        padding: 0 5%;
    }
}